{% extends "base.html" %}
{% block title %}Hydration{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/hydrationstyle.css">
<div class="container">

    <!-- Greeting -->
    <div class="greeting">   
</div>
    <div class="hello-box">
    <div class="hello-left">
        <div class="hello-profile"></div>
    </div>

    <div class="hello-right">
        <p class="hello-text">Hello {{user.username}} !</p>
    
    </div>
</div>


    <!-- Features Grid -->
    <div class="grid">

        <a href="/create water schedule" class="card">
            <img src="/static/images/water_reminder2.721Z.png" alt="">
            <p>Create Water Schedule</p>
        </a>

        <a href="/water reminder" class="card">
            <img src="/static/images/water_schedule.244Z.png" alt="">
            <p>Water Reminder</p>
        </a>
    </div>

</div>
{% endblock %}
